<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comment</title>
</head>
<style>
    body{
        background-color: #f5f5f5;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        color: #333;
    }
    h1{
        text-align: center;
        margin: 2vh;
    }
    form{
        text-align: center;
        margin: 2vh;
        padding: 2vh;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    input{
        margin: 2vh;
        width: 100%;
        margin: auto;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    button{
        background-color: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover{
        background-color: #555;
    }
    form{
        width: 40vw;
        height: 40vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    }
    .box{
        text-align: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label{
        width: 100%;
        display: block;
        text-align: left;
        margin: 0vh;
        margin-bottom: -3vh;
        font-weight: 600;
    }
    </style>
<body>
    <div class="box">
        
        <form action="/comments/<%= id %>" method="POST">
        
        <label for="body">Comment : </label>
        <input type="text" name="body" value= "<%= body %>">
        <label for="username">Username : </label>
        <input type="text" name="username" value= "<%= username %>">
        <div>
            <button>Submit the edit</button>
        </div>
    </form>
    </div>
    
</body>
</html>